:root {
  --color-medium-green: #207c1f;
  --color-dark-green: #142216;

  --color-text-light-grey: #525e54;
  --color-text-light-grey-1: #475349;
  --color-medium-grey: #b6c2b8;
  --color-bg-light-grey: #eef3ef;

  --color-white: #fff;
}

body {
  font-family: "Poppins", sans-serif !important;
  color: var(--color-text-light-grey);
}

// Headings Font
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color: var(--color-dark-green);
}

// ********Test properties below
.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
//  ********* Test properties above

.slanted-bottom {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
}

.slanted-bottom-top {
  -webkit-clip-path: polygon(
    0 10%,
    50% 0,
    100% 10%,
    100% 100%,
    50% 90%,
    0 100%
  );
  clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 50% 90%, 0 100%);
}

.slanted-top {
  -webkit-clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 0 100%);
}

.bg-gray {
  padding: 10rem 0;
  background-color: var(--color-bg-light-grey);
}

.bg-dark {
  padding: 2rem;
  background-color: var(--color-dark-green);

  &-header {
    color: var(--color-white);
  }
}

// Réalisation styles
// overwritting lightbox-min default styles
.lb-image {
  border-radius: 0 !important;
  border: none !important;
}

// !Images fixes
// !Fix images responsivness
.section-img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}

// Navigation styles
// TODOFix navbar to not push content of page
// TODOFix to navbar have only a gray background on expansion
// TODOFix hamburger menu to turn into an X when navbar expanded
// TODOActive page on navbar large styles
.nav {
  &-logo {
    width: 13rem;
  }
  &-list {
    // background-color: #eef3ef;
    padding: 0 25px;
  }

  &-item {
    padding-left: 5px;
    transition: all 0.3s;

    &:hover,
    &-selected {
      background-color: var(--color-bg-light-grey) !important;
      a {
        color: var(--color-medium-green) !important;
      }
      .nav-icon {
        filter: invert(40%) sepia(25%) saturate(1339%) hue-rotate(71deg)
          brightness(89%) contrast(96%);
      }
    }
  }

  &-page {
    font-weight: bold;
    color: var(--color-dark-green) !important;
  }

  &-icon {
    padding-right: 10px;
    padding-bottom: 5px;
  }

  &-toggle-btn {
    font-size: 2rem;
    filter: invert(40%) sepia(25%) saturate(1339%) hue-rotate(71deg)
      brightness(89%) contrast(96%);

    &:focus,
    &:active {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}

// Header Styles
.header {
  background-color: var(--color-dark-green);
  color: var(--color-white);
  min-height: 90vh;

  h1 {
    color: var(--color-white);
    line-height: 1.7;
  }

  &-text-container {
    padding: 3.5rem;
  }

  &-btn {
    display: inline-block;
    margin-top: 20px;
    color: var(--color-white);
    font-weight: bold;
    border-radius: 0;
    background-color: var(--color-medium-green);

    transition: all 0.3s ease-in-out;
  }
  &-btn-arrow {
    display: none;
  }
  &-btn:hover {
    background-color: var(--color-medium-green);
    .header-btn-arrow {
      display: inline-block !important;
    }
  }
}

// Footer Styles
.footer {
  background-color: var(--color-dark-green);
  color: var(--color-white);
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;

  &-logo {
    width: 13rem;
  }

  &-nav,
  &-contact-list {
    list-style: none;
    &-item {
      margin-bottom: 5px;
    }
    &-link:link,
    &-link:visited {
      color: inherit;
      text-decoration: none;
    }
  }

  &-legal {
    font-size: 10px;
    text-align: end;
    position: absolute;
    bottom: 0;
  }
}

// Decouvrez Home page
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.découvrez {
  &-container {
    position: relative;
    overflow: hidden;
  }
  &-content-card {
    border: none;
    background-color: var(--color-bg-light-grey);

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    display: none;

    &-heading {
      color: var(--color-medium-green);
      font-weight: bold;
    }
    &-btn-container {
      position: relative;
    }
    &-loading-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: var(--color-medium-green);

      z-index: 1;
      animation: loading 1s ease-in-out;
      display: none;
    }
    &-arrow {
      display: none;
      margin-left: 10px;
    }
    &-btn:link,
    &-btn:visited {
      border: 3px solid var(--color-medium-green);
      border-radius: 0;
      font-weight: bold;
      color: var(--color-medium-green);
      width: 100%;
      background-color: transparent;
      overflow: hidden;

      position: relative;
      z-index: 5;
      display: inline-block;
      transition: color 0.3s;
    }
    &-btn:hover &-arrow,
    &-btn:hover &-loading-bar {
      display: inline-block;
    }
  }
}
// Carousel Home Page Styles
.carousel {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: end;

  button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  // Arrows
  &-arrow-container {
    margin-bottom: 5px;
  }

  // Images
  &-track-container {
  }

  &-track {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-slide {
  }

  &-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: none;
  }

  &-image-selected {
    display: block;
  }

  // Nav bars
  &-bars {
    button {
      background-color: var(--color-medium-grey);
    }
    width: 100%;
    margin-top: 5px;

    display: flex;
    justify-content: space-between;
    gap: 7px;

    &-indicator {
      display: inline-block;
      height: 5px;
      width: 33.33%;

      &-selected {
        background-color: var(--color-medium-green) !important;
      }
    }
  }
}

.réalisation {
  &-header {
    text-align: center;
    color: var(--color-white);
    margin: auto;
  }

  &-container {
    background-color: var(--color-dark-green);
    margin: 100px auto;

    &-images {
      padding: 0 0.5rem 1rem 0.5rem;
      margin: 0 auto;
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.7rem 0;
  }
}

// !Fix body card height

.actualité {
  &-header {
    min-height: 20rem;
    background-color: var(--color-dark-green);

    position: relative;
    z-index: -5;
  }
  &-heading {
    margin: 7rem auto;
    text-align: center;
    // width: 50%;
    color: var(--color-white);
  }
  &-main-header {
    color: var(--color-white);
  }
  &-links {
    margin: 5rem auto 10rem;
  }
  //Cards design on page actualités.html
  &-card {
    min-height: 430px;
    padding: 1rem;
    border: none;
    border-radius: 0;
    background-color: var(--color-bg-light-grey);

    display: flex;
    flex-direction: column;
    gap: 10px;

    &-link:link,
    &-link:visited {
      text-decoration: none;
    }

    &-img {
      &-container {
        overflow: hidden;
      }
      height: 100%;
      width: 100%;
      object-fit: cover;

      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    &-content {
      height: 100%;
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      color: var(--color-dark-green);
      font-weight: bold;
    }

    &-text {
      color: var(--color-text-light-grey-1);
      flex-grow: 1;
    }

    &-date {
      font-size: 14px;
      font-weight: light;
      color: var(--color-text-light-grey-1);
    }
  }

  &-page {
    &-article {
      margin: -5rem auto 5rem auto;
    }
    &-img {
      margin-bottom: 1rem;
    }
    &-text {
      width: 95%;
      margin: auto;
      color: var(--color-dark-green);
    }
  }
}
#page_actualité_1 {
  aside {
    margin-bottom: -50px;
    // padding: 15rem 0;
  }
  .actualité-card {
    margin-top: 5rem;
    background-color: var(--color-white);
  }
}
// Continuous scroll
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.images-scroll {
  &-header {
    text-align: center;
  }
  &-text {
    width: 50%;
    margin: 3rem auto;
  }
  &-container {
    overflow: hidden;
  }
  &-band {
    display: flex;

    animation: 15s slide infinite linear;
    transition: all 0.3sec ease-in-out;
  }
}
